# ********************
# CONFIG SECTION
# ********************

# Visit https://api.congress.gov to obtain your API Key
CONFIG.API_KEY=
# Possible values for response format are: xml | json
CONFIG.RESPONSE_FORMAT=json
# Save the response to a text file: true | false
CONFIG.STORE_RESPONSE=true
# The folder to store the saved response
CONFIG.OUTPUT_FOLDER=output

# ********************
# API CONFIG
# ********************
CONFIG.ROOT_URL=https://api.congress.gov/v3

# ********************
# BILL SECTION
# ********************
BILL.CONGRESS=117
# Chamber options can be hr | s | sjres | hjres
BILL.CHAMBER=hr
BILL.NUMBER=21
BILL.URL=bill
